div.app_block{
	background-color: #d8edb8;
	width: 100%;
	border-width: 2px;
	border-color: #6a564c;
	margin-top: 5px;
	text-align: left;
	padding: 3px;
	clear: both;
}

div.body{
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

div.tab{
	text-align: center;
	padding: 8px;
	float: left;
}

div.selected{
	background-color: #d8edb8;
}

div.selected_body{
	display: block;
}

div.tab_body{
	width: 100%;
	padding: 10px;
}

div.unselected_body{
	display: none;
}

div.tab_headers{
	width: 100%;
	clear: right;
	cursor: pointer;
}

div.unselected{
	background-color: #e5ebda;
}

h1 {
	margin: 2px;
}

h1.title{
	color: #ff006a;
	font-size: 80px;
	margin-bottom: 2px;
}

span.app_block_title{
	color: #bc084b;
	font-size: 20px;
	width: 90%;
	display: inline-block;
}

span.block_button{
	text-align: center;
	width: 5%;
	display: inline-block;
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

span.status_display{
	color: #888a85;
}
